body {
    background-color:rgb(255, 230, 255);
}

h1{
    color: rgb(102, 0, 102);
    font-size: 70;
    font-family: cooper;
}

header{
    margin-top: 70px;
}

.login{
    box-sizing: content-box;
    width:50%;
    margin:0 auto;
    margin-top: 60px;
}